# Environment variables configuration
NEXT_PUBLIC_WP_BASE_URL=https://your-wordpress-site-api.com/wp/v2/sites/your-site.com
EXPO_PUBLIC_WP_BASE_URL=https://your-wordpress-site-api.com/wp/v2/sites/your-site.com
